# Python virsual environment 
__pycache__/
*.pyc
*.pyo
.venv/
.env

# ignore eval.py
eval.py

# ignore pkl files
Modules2048/value_approximation/N_tuple_TD0_6Tuples_4pattern_lr10-1/
Modules2048/checkpoints/

